{% extends 'todo/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5">
        <div class="md-col-5">
            <h2>Sign Up</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="md-col-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input class="form-control" id="username" type="text" aria-describedby="usernamehelp">
                    <small id="usernamehelp" class="form-text text-muted">
                        Your username must be unique. We'll let you know if someone has taken it already.
                    </small>
                </div>
                <div class="form-group">
                    
                </div>


            </form>
        </div>

    </div>






<h1>Sign Up Form</h1>

<h2>{{ error }}</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
</form>

{% endblock %}



